#form-contact {
	width: 30%;
	height: fit-content;
	background-color: rgb(251, 240, 240);
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 0 10px 2px rgba(180, 180, 180, 0.67);
}
.body-page > .title {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}

#form-contact button[type='submit'],
#form-contact button[type='reset'] {
	width: 40%;
	height: 50px;
	margin: 20px auto;
	background-color: rgb(31, 31, 31);
	color: white;
	transition: all ease-in-out 0.3s;
}
#form-contact .button {
	display: flex;
	justify-content: space-evenly;
}
#form-contact button[type='submit']:hover,
#form-contact button[type='reset']:hover {
	background-color: rgb(93, 93, 93);
	transition: all ease-in-out 0.3s;
}
#form-contact .input-contact {
	width: 90%;
	height: 40px;
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid rgb(95, 120, 154);
	margin: 0 auto;
	padding: 0 10px;
	text-transform: lowercase;
}
#form-contact .input-contact:focus,
#form-contact textarea:focus {
	border: 2px solid rgb(95, 120, 154);
}

#form-contact textarea {
	width: 90%;
	height: 130px;
	border-radius: 5px;
	border: 1px solid rgb(95, 120, 154);
	margin: 0 auto;
}

#form-contact label {
	padding: 10px;
	font-weight: 600;
	font-style: italic;
}
#form-contact span {
	padding: 2px 20px;
	font-size: 0.8rem;
	color: red;
	display: none;
}
